.brohlik {
  margin: 0 5rem;

  button {
    padding: 8px;
    width: 65px;
    height: 32px;
    line-height: normal;

    &:hover {
      filter: brightness(85%);
    }
  }
}

.user-one-btn,
.user-one-btn:hover {
  background: var(
    --color-icon-brand
  ); /* use rohlik's color variables, which are accessible from the browser */
}

.user-two-btn,
.user-two-btn:hover {
  background: var(--toastify-color-info);
}

.shared-btn,
.shared-btn:hover {
  background: var(--color-icon-baby-club);
}

@media (min-width: 959px) {
  .overrides {
    flex-flow: nowrap;
  }

  .brohlik {
    margin: 0 3rem;
  }
}
